In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv("marketing_campaign_data_messy.csv").head()

df

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA

In [3]:
#-------------------------------------------
# Step 1 : Cleaning Headers and Column names
#-------------------------------------------

print(df.columns.to_list())

df.columns=df.columns.str.strip().str.lower().str.replace(' ','_')

print("Fix")

df.columns=df.columns.to_list()

print(df.columns.to_list())

[' Campaign_ID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Impressions', 'Clicks ', 'Spend', 'Conversions', 'Active', 'Clicks', 'Campaign_Tag']
Fix
['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel', 'impressions', 'clicks', 'spend', 'conversions', 'active', 'clicks', 'campaign_tag']

In [4]:
df.head()

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,clicks,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA

In [5]:
#-----------------------------------------------
#Type conversion and currency cleaning
#-----------------------------------------------


# Step 1: Convert to string
df['spend'] = df['spend'].astype(str)

# Step 2: Remove dollar sign and commas manually
df['spend'] = df['spend'].str.replace('$', '').str.replace(',', '')

# Step 3: Convert back to numbers
df['spend'] = pd.to_numeric(df['spend'])

print("after cleaning spend column :   ")
df['spend']

after cleaning spend column :

0     102.82
1      24.33
2    1323.39
3    2180.38
4     252.44
Name: spend, dtype: float64

In [6]:
#-------------------------------------------
#step 3 :categorical Typos
#-------------------------------------------

print(df['channel'].unique())  # hence here it is not working due to data set 
#this block of code is available in demo.ipynb with the data set demo.csv

['TikTok' 'Facebook' 'Email']

In [7]:
#-------------------------------------------
# Step 4: Handling missed booleans
#-------------------------------------------

df['active'].unique()

clean_boolean={
    "yes":'True',
    "no":'False',
    "Y":'True',
    "N":'False',
    "N/A":'np.nan',
    '0':'False',
    '1':'True',
    'Yes':'True',
    'No':'False'
}

df['active']=df['active'].replace(clean_boolean)

df['active'].unique()
print("full data set after cleaning boolean : ")
df

full data set after cleaning boolean :

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,clicks,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,102.82,20.0,True,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,False,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,False,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,True,NaN,FA

In [8]:
#-------------------------------------------
# Step 5 : Date parsing
#-------------------------------------------

df['start_date'].dtype # initially the data type is object
df['start_date'] = pd.to_datetime(df['start_date'], format="%Y/%m/%d", errors='coerce')
df['start_date'].dtype # after conversion the data type is datetime64[ns]

dtype('<M8[ns]')

In [9]:
#-------------------------------------------
# Step 6 : feature extraction for the season without using if else condition
#-------------------------------------------

def get_season(campaign_name):
    if 'spring' in campaign_name.lower():
        return 'spring'
    elif 'summer' in campaign_name.lower():
        return 'summer'
    elif 'fall' in campaign_name.lower() or 'autumn' in campaign_name.lower():
        return 'fall'
    elif 'winter' in campaign_name.lower():
        return 'winter'
    else:
        return 'unknown'

df['season']=df['campaign_name'].apply(get_season)
df

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,clicks,campaign_tag,season
0,CMP-00001,Q4_Summer_CMP-00001,NaT,2023-12-13,TikTok,16795,197,102.82,20.0,True,NaN,TI,summer
1,CMP-00002,Q1_Launch_CMP-00002,NaT,2023-05-12,Facebook,1860,30,24.33,1.0,False,NaN,FA,unknown
2,CMP-00003,Q3_Winter_CMP-00003,NaT,2023-12-20,Email,77820,843,1323.39,51.0,False,NaN,EM,winter
3,CMP-00004,Q1_BlackFriday_CMP-00004,NaT,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI,unknown
4,CMP-00005,Q2_Winter_CMP-00005,NaT,2023-04-23,Facebook,7265,169,252.44,30.0,True,NaN,FA,winter

In [10]:
#-------------------------------------------
# Step 7 : how to drop column duplicates
#-------------------------------------------


#üîç If you want to see the duplicate names before dropping:
df.columns[df.columns.duplicated()]

Index(['clicks'], dtype='object')

In [11]:
#to drop
df = df.loc[:, ~df.columns.duplicated()]
print("After dropping duplicates : ")
df  # now you can see only one clicks col .................

After dropping duplicates :

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season
0,CMP-00001,Q4_Summer_CMP-00001,NaT,2023-12-13,TikTok,16795,197,102.82,20.0,True,TI,summer
1,CMP-00002,Q1_Launch_CMP-00002,NaT,2023-05-12,Facebook,1860,30,24.33,1.0,False,FA,unknown
2,CMP-00003,Q3_Winter_CMP-00003,NaT,2023-12-20,Email,77820,843,1323.39,51.0,False,EM,winter
3,CMP-00004,Q1_BlackFriday_CMP-00004,NaT,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,TI,unknown
4,CMP-00005,Q2_Winter_CMP-00005,NaT,2023-04-23,Facebook,7265,169,252.44,30.0,True,FA,winter

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    5 non-null      object
 1   campaign_name  5 non-null      object
 2   start_date     0 non-null      datetime64[ns]
 3   end_date       5 non-null      object
 4   channel        5 non-null      object
 5   impressions    5 non-null      int64
 6   clicks         5 non-null      int64
 7   spend          5 non-null      float64
 8   conversions    5 non-null      float64
 9   active         5 non-null      object
 10  campaign_tag   5 non-null      object
 11  season         5 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 612.0+ bytes

In [13]:
df['end_date'].dtype # initially the data type is object
df['end_date'] = pd.to_datetime(df['end_date'], format="%Y/%m/%d", errors='coerce')
df['end_date'].dtype # after conversion the data type is datetime64[ns]

C:\Users\admin\AppData\Local\Temp\ipykernel_15744\3350175415.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_date'] = pd.to_datetime(df['end_date'], format="%Y/%m/%d", errors='coerce')

dtype('<M8[ns]')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    5 non-null      object
 1   campaign_name  5 non-null      object
 2   start_date     0 non-null      datetime64[ns]
 3   end_date       0 non-null      datetime64[ns]
 4   channel        5 non-null      object
 5   impressions    5 non-null      int64
 6   clicks         5 non-null      int64
 7   spend          5 non-null      float64
 8   conversions    5 non-null      float64
 9   active         5 non-null      object
 10  campaign_tag   5 non-null      object
 11  season         5 non-null      object
dtypes: datetime64[ns](2), float64(2), int64(2), object(6)
memory usage: 612.0+ bytes

In [15]:
# -------------------------------------------
# getting q1 or q2 or q3 or q4 from campaign_name
# -------------------------------------------

def get_q(campaign_name):
    campaign_name = campaign_name.lower()
    if 'q1' in campaign_name:
        return 'Q1'
    elif 'q2' in campaign_name:
        return 'Q2'
    elif 'q3' in campaign_name:
        return 'Q3'
    elif 'q4' in campaign_name:
        return 'Q4'
    else:
        return 'Unknown'

df['Quarter']=df['campaign_name'].apply(get_q)

In [16]:
df.shape

(5, 13)

In [17]:
df['Quarter']=='Q2'

0    False
1    False
2    False
3    False
4     True
Name: Quarter, dtype: bool

In [18]:
#-------------------------------------------
# when we want data which have quarter 1
#-------------------------------------------

df[df['Quarter']=='Q1']

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season,Quarter
1,CMP-00002,Q1_Launch_CMP-00002,NaT,NaT,Facebook,1860,30,24.33,1.0,False,FA,unknown,Q1
3,CMP-00004,Q1_BlackFriday_CMP-00004,NaT,NaT,TikTok,55886,2019,2180.38,135.0,True,TI,unknown,Q1

In [19]:
# Getting the dataset in which the channel is facebook

df_facebook = df[df['channel'] == 'Facebook']
df_facebook

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season,Quarter
1,CMP-00002,Q1_Launch_CMP-00002,NaT,NaT,Facebook,1860,30,24.33,1.0,False,FA,unknown,Q1
4,CMP-00005,Q2_Winter_CMP-00005,NaT,NaT,Facebook,7265,169,252.44,30.0,True,FA,winter,Q2

In [20]:
# clicks greater than 1000

df_high_clicks=df[df['clicks']>1000]
df_high_clicks

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season,Quarter
3,CMP-00004,Q1_BlackFriday_CMP-00004,NaT,NaT,TikTok,55886,2019,2180.38,135.0,True,TI,unknown,Q1

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    5 non-null      object
 1   campaign_name  5 non-null      object
 2   start_date     0 non-null      datetime64[ns]
 3   end_date       0 non-null      datetime64[ns]
 4   channel        5 non-null      object
 5   impressions    5 non-null      int64
 6   clicks         5 non-null      int64
 7   spend          5 non-null      float64
 8   conversions    5 non-null      float64
 9   active         5 non-null      object
 10  campaign_tag   5 non-null      object
 11  season         5 non-null      object
 12  Quarter        5 non-null      object
dtypes: datetime64[ns](2), float64(2), int64(2), object(7)
memory usage: 652.0+ bytes

In [2]:
# i want to convert the objects into binary values
from sklearn.preprocessing import LabelEncoder
import pandas as pd