In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv("demo.csv",names=["Name","Age","Platform"])
df

    Name  Age   Platform
0  shiva   18     tiktok
1  kumar   67      insta
2  yadav   89  instagram
3   uday   88   tik__tok

In [3]:
df['Platform'].unique()

array(['tiktok', 'insta', 'instagram', 'tik__tok'], dtype=object)

In [5]:
clean_platform={
    "insta":"instagram",
    "tik__tok":"tiktok",
}

df['Platform']=df['Platform'].replace(clean_platform)

df

    Name  Age   Platform
0  shiva   18     tiktok
1  kumar   67  instagram
2  yadav   89  instagram
3   uday   88     tiktok